@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Special+Gothic+Expanded+One&display=swap');

/*

Colors:

#837aff
#c2b5fb
#f3f3f3
#b2eaae
#5fde67

*/

h1 {
    font-family: 'Special Gothic Expanded One';
}

:root {
    font-family: 'Nunito Sans';
}

.dashboard {
    z-index: 2;
    background-color: #837aff;
    color: white;
    font-weight: bold;
}

.white {
    filter: invert(92%) sepia(42%) saturate(0%) hue-rotate(187deg) brightness(104%) contrast(103%);
}

.big-icon {
    width: 50px;
    height: 50px;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon, .big-icon, .trending img {
    transition: 0.1s;
}

.icon:hover, .big-icon:hover, .trending img:hover {
    scale: 1.25;
}

.top {
    z-index: 1;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.14);
}

.search input {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #f3f3f3;
    border: none;
    outline: 0.1rem solid #f3f3f3;
    transition: 0.1s;
}

.search input:focus {
    outline: 0.25rem solid rgb(184, 184, 184);
}

.bottom {
    background-color: #f3f3f3;
}

.card, .announcements__container, .trending__container {
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.14)
}

.announcements__container article {
    border-bottom: 0.1rem solid #f3f3f3;
}

.announcements__container article:last-child {
    border: none;
}

button {
    background-color: #5fde67;
    border: none;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 1rem;
    font-weight: bold;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.14);
}

.trending__container img {
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.14);
}